{% block root %}
<div id="carousel" class="carousel center-align {% if options.slide %}slide{% endif %}">
        {% if options.admin %}<div class="btn-admin"><a class="btn btn-primary show-on-hover-iem" href="{{ path('avro_image_image_edit', {'alias': object.__alias, 'id': object.id}) }}"><i class="icon-pencil icon-white"></i> Edit Slideshow</a></div>{% endif %}
    <div class="carousel-inner">
        {% for image in object.images.toArray() %}
            <div class="{% if loop.first %}active {% endif %}item center-align">
                <a class="colorbox group1" title="{{ image.label }}" data-caption="<h4>{{ image.label }}</h4><p>{{ image.caption }}</p>" href="#image"><img src="{% if options.imagine_filter %}{{ image.file.getId() | imagine_filter(options.imagine_filter) }}{% else %}{{ path('avro_image_image_show', {'id': image.id}) }} {% endif %}" />
                    {% if showCaptions is defined %}
                        <div class="carousel-caption">
                            {% if image.label %}
                            <h4>{{ image.label }}</h4>
                            {% endif %}
                            {% if image.caption %}
                            <p>{{ image.caption }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </a>
            </div>
        {% else %}
            <div class="active item center-align" style="height: {{ options.height }}px; line-height: {{ options.height }}px;">
                <img src="{{ asset('images/defaultImage.jpg') }}"  />
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
